spring:
  config:
    activate:
      on-profile: dev

  web:
    resources:
      static-locations: classpath:/static/, file:./${UPLOAD_DIR:uploads}/

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver # localhost:3306
    url: jdbc:mysql://${DB_HOST}/${DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8&createDatabaseIfNotExist=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update     # 개발 편의 (스키마 자동 갱신)
    show-sql: true

server:
  port: 8080

app:
  upload:
    dir: uploads
    base-url: http://localhost:8080/uploads

  security:
    oauth2:
      client:
        registration:
          # ✅ 네이버
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
              - mobile
              - nickname
              - gender
              - birthday
              - birthyear
              - profile_image
            client-name: Naver


          # ✅ 카카오
          kakao:
            client-id: ${KAKAO_CLIENT_ID}          # 카카오 REST API 키
            client-secret: ${KAKAO_CLIENT_SECRET}  # (선택, Secret 발급받은 경우만)
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - account_email
            client-name: Kakao

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
custom:
  jwt:
    secretKey: ${JWT_SECRET}